<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main>
      <div class="login-container">
        <h1>Login</h1>
        <form class="login-form" id="login">
          <input
            class="login-form__input"
            type="email"
            name="email"
            placeholder="Email"
            id="email"
            required
          />
          <input
            class="login-form__input"
            type="password"
            name="password"
            placeholder="Password"
            id="password"
            required
          />
          <button
            class="login-form__button login-form__button--disabled"
            id="login-button"
            type="submit"
          >
            Login
          </button>
        </form>
        <div class="login-container__forgot-password">
          <a href="/forgot-password.html">Forgot password?</a>
        </div>
        <div class="login-container__a-register">
          <p>Don't have an account? <a href="/register.html">Register here!</a></p>
        </div>
        <div id="registration-form__message"></div>
    </div>
    </main>

    <script>
      const emailInput = document.getElementById("email");
      const passwordInput = document.getElementById("password");
      const loginButton = document.getElementById("login-button");

      function checkFormFields() {
        const emailValue = emailInput.value.trim();
        const passwordValue = passwordInput.value.trim();

        if (emailValue.length > 0 && passwordValue.length > 0) {
          loginButton.classList.remove("login-form__button--disabled");
          loginButton.classList.add("login-form__button--enabled");
        } else {
          loginButton.classList.remove("login-form__button--enabled");
          loginButton.classList.add("login-form__button--disabled");
        }
      }

      emailInput.addEventListener("input", checkFormFields);
      passwordInput.addEventListener("input", checkFormFields);
      document.getElementById("login").addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(e.target);
        const messageDiv = document.getElementById(
          "registration-form__message"
        );

        try {
          const response = await fetch("/api/users/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(Object.fromEntries(formData)),
          });
          const data = await response.json();
          if (response.ok) {
            localStorage.setItem("token", data.token);
            messageDiv.textContent = "Login successful!";
            messageDiv.style.color = "green";
            setTimeout(() => {
              window.location.href = "account.html";
            }, 2000);
          } else {
            throw new Error(data.error || "Login failed");
          }
        } catch (error) {
          console.error("Login error:", error);
          messageDiv.textContent = `Login failed: ${error.message}`;
          messageDiv.style.color = "red";
        }
      });
    </script>
  </body>
</html>
